1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Alexdieu"
      VALUE "FileDescription", "Portable python shell"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "Python Shell portable"
      VALUE "LegalCopyright", "Python Shell portable"
      VALUE "OriginalFilename", "Python.exe"
      VALUE "ProductName", "Portable Python"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END